.Img {
  margin-top: -70px;
}

.Rrror {
  font-size: 3rem;
}

.Title {
  margin: 1rem;
  font-size: 2.2rem;
}

.Description {
  margin: 1rem 2rem;
  font-size: 1.6rem;
  text-align: center;
}

.RetryButton {
  margin: 4rem 0;
  width: 50%;
  font-size: 2rem;
  background-color: rgba(44, 0, 0, 0.9);
  color: white;
}

.CloseButton {
  //STUFF HERE TO MAKE IT TO THE RIGHT UPPER CORNER OF THE MODAL
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  top: 10px;
  right: -40%;
  border-radius: 1rem;
  border: none;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  &:hover {
    color: black;
  }
}
