.Modal {
  &__img {
    margin-top: -70px;
  }
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    margin: 1rem;
    font-size: 2rem;
  }
  p {
    margin: 1rem 2rem;
    text-align: center;
  }
  .RetryButton {
    margin: 4rem 0;
    width: 50%;
    font-size: 2rem;
    background-color: rgba(44, 0, 0, 0.9);
    color: white;
  }
  .ClosingButton {
    //STUFF HERE TO MAKE IT TO THE RIGHT UPPER CORNER OF THE MODAL
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    top: 10px;
    right: -40%;
    border-radius: 1rem;
    border: none;
    font-size: 120%;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}
