.BookCategory {
  padding: 0.5rem 3rem;
  color: #aaa;
  font-size: 1.6rem;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: #111;
  }

  &__active {
    color: white;
    background-color: black;
  }
}
