.BookCard {
  margin: 1rem;
  transition: transform 0.4s;
  border: 1px solid #ddd;
  box-shadow: 0.2rem 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  &:hover {
    transform: scale(1.05);
  }
}
