@use '../../../sass/abstracts/variables' as variables;

.TopGap {
  margin-top: 4rem;
}

.TopNavContainer {
  width: 100%;
  height: variables.$phoneNavbanHeight;
  position: fixed;
  z-index: 10000;
  margin-top: 0;
  top: 0;
}

.TopNav {
  background-color: variables.$navbarColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 4rem;
}

.Burger {
  color: white;
  font-size: 3rem;
  cursor: pointer;
}

.SideNav {
  display: flex;
  width: 20rem;
  height: 100vh;
  position: fixed;
  padding: 1rem;
  margin-top: 0.1rem;
  right: 0;
  background-color: variables.$navbarColor;
  z-index: 10000;
  transition: transform 0.5s;
}

.SideNavHide {
  transform: translateX(20rem);
}

.Categories {
  list-style-type: none;
}

.Link {
  color: #bbb;
  font-size: 2.5rem;
  &:hover {
    color: white;
  }
}

.TopMargin {
  margin-top: 3rem;
}
