.Link {
  color: black;
  text-decoration: none;
}

.Img {
  width: 100%;
  padding: 1rem;
}

.Title {
  font-size: 2rem;
  text-align: center;
}

.Description {
  text-align: center;
  font-size: 1.4rem;
}
