.Title {
  background: linear-gradient(270deg, gray, lightgray);
  background-size: 400% 400%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;

  width: 90%;
  height: 3rem;

  animation: loader 10s ease infinite;
}

.Description {
  background: linear-gradient(270deg, gray, lightgray);
  background-size: 400% 400%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  height: 1rem;

  animation: loader 10s ease infinite;
}

.Img {
  position: absolute;
  background: linear-gradient(270deg, gray, lightgray);
  background-size: 400% 400%;
  margin: 1rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  animation: loader 10s ease infinite;

  &__aspectRatioWrapper {
    width: 100%;
    padding-top: 130%; /* 11.5:8.5 Aspect Ratio */
    position: relative;
  }
}
@keyframes loader {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
