.Container {
  display: flex;
  align-items: center;
}

.Input {
  border: 0;
  text-align: center;
  margin: 0;
  padding: 0;

  &:disabled {
    color: inherit;
    background-color: inherit;
  }
}

.Lock {
  cursor: pointer;
}
