@use '../../sass/abstracts/variables' as variables;

@mixin icon {
  font-size: 3rem;
  color: white;
}

@mixin link {
  color: #bbb;
  font-size: 2.5rem;
}

.Navbar {
  background-color: variables.$navbarColor;
}

.Categories {
  height: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: end;
  list-style-type: none;
}

.Link {
  @include link;
  &:hover {
    color: white;
  }
}

.UserLi {
  height: 3rem;
  margin-right: 1rem;
}

.UserButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.7rem;
  @include link;
  &:hover {
    color: white;
  }
}

.Icon {
  @include icon;
}

.Image {
  border-radius: 50%;
  margin-top: 0.5rem;
  height: 3rem;
}

.Loading {
  @include icon;
  margin-top: 0.5rem;
  animation-name: spin;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
