@use '../../sass/abstracts/variables' as variables;

.Navbar {
  background-color: variables.$navbarColor;
  &Container {
    max-width: 1200px;
  }
}

.Categories {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Link {
  color: #bbb;
  font-size: 2rem;
  &:hover {
    color: white;
  }
}
