@use '../../sass/abstracts/variables' as variables;

.Navbar {
  background-color: variables.$navbarColor;
  &Container {
    max-width: 1200px;
  }
}

.Categories {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.Link {
  color: #bbb;
  font-size: 2rem;
  &:hover {
    color: white;
  }
}

.UserButton {
  cursor: pointer;
  color: #bbb;
  font-size: 2rem;
  &:hover {
    color: white;
  }
}

.Image {
  padding-top: 0.2rem;
  border-radius: 50%;
  height: 3rem;
  width: 100%;
}

.Loading {
  margin-top: 0.2rem;
  font-size: 3rem;
  color: white;
  animation-name: spin;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
