@use '../../../sass/abstracts/variables';

.Categories {
  padding: 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: variables.$subNavbarColor;
  flex-wrap: wrap;
}
