@use '../../../sass/abstracts/variables';

.Categories {
  padding: 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #222;
  flex-wrap: wrap;

  @media screen and (max-width: variables.$mediumSize) {
    padding-top: variables.$phoneNavbanHeight;
  }
}
